.home {
    display: flex;
  }
  
  .main-content {
    flex-grow: 1;
    background-color: #ECF0F1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .articles-section {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }